* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow: visible;
}

body {
    background-color: whitesmoke;
    text-decoration-color: black;
    font-family: "Arial",sans-serif;
}

.row {
    display: -webkit-flex;
    display: flex;
    margin-top: 30px;
}

.cleanBody {
    margin-top: 15%;
    margin-left: 35%;
    width: 25%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 3%;
}

.column {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 5px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    text-align: center;
}

.expandedCleanBody {
    margin-top: 15%;
    background-color: red;
    border-radius: 25px;
    padding: 3%;
}

div.expandedCleanBody {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mobileButtonGroup {
    margin-top: 10%;
}

.mobileButton {
    padding: 1%;
    background-color: #EA2028;
    color: floralwhite;
    border: 1px solid #EA2028;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 10%;
    padding: 3%;
}
.login:hover, .mobileButton:hover {
    background-color: rgb(175, 49, 53);
    border: 1px solid rgb(175, 49, 53);
}
.cleanInterior {
    margin-left: 25%;
    margin-top: -10%;
}

#hidden {
    visibility: hidden;
}

/*
@media only screen and (max-width: 768px) {
    .mobileButton {
        padding: 1%;
        background-color: white;
        border: 2px solid red;
        border-radius: 25px;
        font-size: 1rem;
        margin-left: 5%;
        padding: 3%;
    }
    .login {
        overflow: hidden;
    }
    .menuButton {
        padding: 1%;
        background-color: white;
        border: 2px solid red;
        border-radius: 25px;
        font-size: 1rem;
        margin-left: 5%;
        margin-top: 10%;
        padding: 3%;
    }
    .cleanBody {
        margin-top: 15%;
        width: 95%;
        background-color: red;
        border-radius: 25px;
        padding: 3%;
    }
    #extraLeft {
        margin-left: 10%;
    }
}
*/

/* Phone and tablet access */


#littleExtraRight
{
    margin-left:-10%;
}
@media only screen and (min-width: 300px) and (max-width: 960px) {
    .header-div {
        display: flex;
        background-color: white;
        position: relative;
        height: 50px;
        border-bottom: 1px solid lightgray;
    }
    .img {
        height: 35px;
        float: inline-start;
        align-self: center;
        margin-left: 3px;
        margin-top: -3px;
    }
    .siue {
        height: 15px;
        align-self: center;
        margin-top: 3px;
        padding-left: 10px;
    }
    .h3 {
        font-size: 20px;
        width: min-content;
        color: #EA2028;
        border-right: 1px solid lightgray;
        align-self: center;
        padding-right: 10px;
        padding-left: 5px;
    }
    .h2 {
        color: #EA2028;
        border-bottom: 1px solid darkgray;
        padding: 5px;
    }
    .login {
        padding: 3px;
        margin-right: 10px;
        background-color: #EA2028;
        color: floralwhite;
        border: 1px solid #EA2028;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        right: 0;
        align-self: center;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
        font-size: 8pt;
        color: #EA2028;
    }
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 0px;
    }
    p
    {
        font-size: 10pt;
    }
    .column.single{
        margin-left: 50%;
        margin-top: 45%;
        transform: translate(-50%,-50%);
        position: absolute;
        padding: 10px 20px 20px 20px;
        width: 80%;
    }
}

/* Desktop only access */

@media only screen and (min-width: 961px) {
    .header-div {
        display: flex;
        background-color: white;
        position: relative;
        height: 105px;
        border-bottom: 1px solid lightgray;
    }
    .img {
        height: 70px;
        float: inline-start;
        align-self: center;
        margin-top: -10px;
        margin-left: 20px;
    }
    .siue {
        height: 35px;
        align-self: center;
        margin-top: 9px;
        padding-left: 25px;
    }
    .h3 {
        font-size: 50px;
        width: min-content;
        color: #EA2028;
        border-right: 1px solid lightgray;
        align-self: center;
        padding-right: 30px;
        padding-left: 15px;
    }
    .h2 {
        color: #EA2028;
        border-bottom: 1px solid darkgray;
        padding-bottom: 10px;
    }
    .login {
        padding: 6px;
        margin-right: 30px;
        background-color: #EA2028;
        color: floralwhite;
        border: 1px solid #EA2028;
        border-radius: 10px;
        font-size: 1rem;
        position: absolute;
        font-weight: 600;
        right: 0;
        align-self: center;
        margin-right: 30px;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
        font-size: 10pt;
        color: rgb(134, 134, 134);
        background-color: white;
        border-top: 1px solid lightgray;
    }
    .column.single{
        margin-left: 50%;
        margin-top: 20%;
        transform: translate(-50%,-50%);
        position: absolute;
        padding: 20px 40px 20px 40px;
        width: 50%;
    }
}